@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', serif;
}

.product-purchase-area h1 {
    margin-top: 0;
}

.product-purchase-area {
    margin: auto;
    width: 800px;
    border-radius: 5px;
    background-color: #ededed;
    padding: 70px;
    box-shadow: 0 0 10px #ddd;
    margin-top: 80px;
    margin-bottom: 80px;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 20px;
    transition: .3s;
}

input[type=text]:focus, input[type=number]:focus, select:focus {
    border-color: #9f58a3;
    outline: none;
    box-shadow: 0 0 5px #ededed;
  }

.product-purchase-area button {
    display: block;
    margin: 10px auto 0;
    width: 250px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    cursor: pointer;
    background: #207cca;
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%);
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); 
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 );
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .product-purchase-area {
        width: 400px;
        padding: 30px 25px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    input[type=text], input[type=number], select {
        margin-bottom: 10px;
    }
}
